
footer
    .row
        .footer-container
            .footer-item
                .footer-text
                    h3 Address
                    p  Bagbazar,kathmandu
                    p info@mail.com
                    p 9841331624
                    
                         
            .footer-item
                .footer-text 
                    h3 Get in touch
                    p Connect from Anywhere
                    .footer-social-logo
                        ion-icon.icon-footer.icon-social(name='logo-facebook')
                        ion-icon.icon-footer.icon-social(name='logo-instagram')
                        ion-icon.icon-footer.icon-social(name='logo-twitter')
                        ion-icon.icon-footer.icon-social(name='logo-youtube')
                    
            .footer-item
                .footer-text
                    h3 newsletter
                    p Join our monthly letter
                    p Join our monthly letter
                       

            .footer-item
                .footer-text
                    h3 Twitter-feed
                    .footer-image
                        img.footer-img(src="/img/4.jpg", alt="")                               
                        img.footer-img(src="/img/4.jpg", alt="")                               
                        img.footer-img(src="/img/4.jpg", alt="")                               
                        
                    
                    
                                                     

                               

                    