header
    .row
        .row-container
            a(href="/")
                img.logo(src="/img/logo-white.png", alt="vdev" )
            ul.main-nav
                li
                    a Donate
                li
                    a Gallery
                li
                    a Cities
                li
                    a Volunteer
                li
                    a(href="/login") Login
                
                
