header
    .row
        .row-container
            a
                img.logo(src="/img/logo-white.png", alt="vdev")
            ul.main-nav
                li
                    a Donate
                li
                    a Donate
                li
                    a Donate
                li
                    a Donate
                li
                    a Donate
                
                
