extends base
block content
    section.image-section
        .row
            .hero-text
                h1 Small Charity can bring bigger impacts. <br/> Be the change.
                a.btn.btn-full Donate
                a.btn.btn-ghost Volunteer
    section.section-feature#feature
        .row
            h2 Our Services
        .row
            .grid-container
                .grid-item
                    ion-icon.icon-big(name="book-outline")
                    h3.services  Charity for education
                    p.service-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius rerum, laudantium aperiam eos illo sequi assumenda iusto dolorum quaerat quae, quas ad optio culpa iste, asperiores nulla omnis aliquam ratione!
                .grid-item
                    ion-icon.icon-big(name="book-outline")
                    h3.services  Charity for education
                    p.service-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius rerum, laudantium aperiam eos illo sequi assumenda iusto dolorum quaerat quae, quas ad optio culpa iste, asperiores nulla omnis aliquam ratione!
                .grid-item
                    ion-icon.icon-big(name="book-outline")
                    h3.services  Charity for education
                    p.service-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius rerum, laudantium aperiam eos illo sequi assumenda iusto dolorum quaerat quae, quas ad optio culpa iste, asperiores nulla omnis aliquam ratione!
                .grid-item
                    ion-icon.icon-big(name="book-outline")
                    h3.services  Charity for education
                    p.service-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius rerum, laudantium aperiam eos illo sequi assumenda iusto dolorum quaerat quae, quas ad optio culpa iste, asperiores nulla omnis aliquam ratione!
                .grid-item
                    ion-icon.icon-big(name="book-outline")
                    h3.services  Charity for education
                    p.service-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius rerum, laudantium aperiam eos illo sequi assumenda iusto dolorum quaerat quae, quas ad optio culpa iste, asperiores nulla omnis aliquam ratione!
                .grid-item
                    ion-icon.icon-big(name="book-outline")
                    h3.services Charity for education
                    p.service-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius rerum, laudantium aperiam eos illo sequi assumenda iusto dolorum quaerat quae, quas ad optio culpa iste, asperiores nulla omnis aliquam ratione!
    section.deserve
        .row
            h2 Give us an opportunity
        .row
            .grid-deserve
                .grid-item.grid-item-1
                    h3.deserve-text Every child deserve to be taken care of and to have a home and family
                    h3.deserve-text Our charity helps those people who have no hope
                    h4.deserve-text You can contribute your share for this Child
                    <br>
                    <br>
                    .button-deserve
                        a.btn.btn-ghost Contact us
                    
                .grid-item
                    img.hands(src="/img/ab2.jpg", alt="")

    .gallery-section
        .row
            h2 Our Gallery
            .gallery-container
                .gallery-item
                    figure.image-gallery
                        img(src="/img/2.jpg", alt="child")               
                .gallery-item
                    figure.image-gallery
                        img(src="/img/3.jpg", alt="child")               
                .gallery-item
                    figure.image-gallery
                        img(src="/img/4.jpg", alt="child")               
                .gallery-item
                    figure.image-gallery
                        img(src="/img/5.jpg", alt="child")               
                .gallery-item
                    figure.image-gallery
                        img(src="/img/6.jpg", alt="child")               
                .gallery-item
                    figure.image-gallery
                        img(src="/img/7.jpg", alt="child")               
                .gallery-item
                    figure.image-gallery
                        img(src="/img/8.jpg", alt="child")               
                .gallery-item
                    figure.image-gallery
                        img(src="/img/9.jpg", alt="child")               
                .gallery-item
                    figure.image-gallery
                        img(src="/img/10.jpg", alt="child")               
    .event-section
        .row
            h2 Our Event
            .event-container
                .event-item
                    img.event-image(src="/img/9.jpg", alt="event name")
                    .event-text
                        h3 Event Name
                        p  28th march
                        p 9:00 AM
                        a.event-btn Read More
                .event-item
                    img.event-image(src="/img/9.jpg", alt="event name")
                    .event-text
                        h3 Event Name
                        p  28th march
                        p 9:00 AM
                        a.event-btn Read More
                .event-item
                    img.event-image(src="/img/9.jpg", alt="event name")
                    .event-text
                        h3 Event Name
                        p  28th march
                        p 9:00 AM
                        a.event-btn Read More
                .event-item
                    img.event-image(src="/img/9.jpg", alt="event name")
                    .event-text
                        h3 Event Name
                        p  28th march
                        p 9:00 AM
                        a.event-btn Read More
                