extends base
block content

    section.single-event-page
        img.single-event-page-image(src="/img/coverImage.jpg", alt="", srcset="")
        .single-event-page-container
            .quick-fact
                .quick-fact-container
                    .single-page-text
                        h2 Quick Facts
                    .single-page-icon
                        ion-icon.icon-small(name="calendar-outline")
                        p.quick-fact-info Next Date
                        p StartDates
                    .single-page-icon
                        ion-icon.icon-small(name="people-circle-outline")
                        p.quick-fact-info Participants
                        p StartDates
                    .single-page-icon
                        ion-icon.icon-small(name="chatbox-ellipses-outline")
                        p.quick-fact-info Comments
                        p StartDates
                    .single-page-icon
                        ion-icon.icon-small(name="timer-outline")
                        p.quick-fact-info Duration
                        p StartDates
                .coordinater-container
                    .single-page-text
                        h2 Co-ordinater

                    .single-page-icon
                        ion-icon.icon-small(name="calendar-outline")
                        p.quick-fact-info StartDates
                        p StartDates
                    .single-page-icon
                        ion-icon.icon-small(name="calendar-outline")
                        p.quick-fact-info StartDates
                        p StartDates

            .about-section-conatiner
                .about-container
                    .single-page-text
                        h2 The park Camper
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, dolorem earum non blanditiis consectetur, similique hic perferendis possimus reprehenderit facilis omnis cupiditate pariatur quo numquam! Ab ad nemo iure amet!
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia et fugiat consectetur commodi dolores amet sunt consequatur dolor quod beatae nulla aperiam facilis quaerat numquam deleniti, quidem saepe! Quo, voluptatem?
    section.section-map
        #map                    